In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import datasets
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [2]:
excelDoc = pd.read_excel("Dummy Data.xlsx", sheet_name = ["USE THIS"])
data = excelDoc["USE THIS"]
data.set_index("Client", inplace = True)
data

,Existing client,Value of Estate,Beneficiaries,Multiple national jurisdictions,Testementary Trust,Claims expected against estate,Cost
Client,,,,,,,
1,1,500000,5,0,0,0,65005.25
2,1,200000,2,0,0,0,19001.58
3,1,1000000,7,0,0,0,135007.91
4,1,600000,6,0,1,1,99006.72
5,1,450000,13,0,0,0,58014.04
6,1,10000000,3,1,0,1,1525002.55
7,1,1437000,4,0,1,1,216183.36
8,1,5509000,11,1,1,1,806272.43
9,1,8863000,4,1,1,1,1187193.48
10,0,7930000,8,1,0,1,1219509.04
11,0,1263000,2,0,0,1,199451.76
12,0,6882000,2,1,0,0,914661.62
13,0,2270000,1,0,1,1,292400.82
14,0,6663000,5,1,1,1,972825.55
15,0,1214000,11,0,1,0,167832.65
16,0,7758000,13,1,0,1,1271294.43
17,0,6176000,15,1,0,1,709375.00
18,0,3458000,10,0,0,0,518710.40
19,0,8254000,13,1,1,0,937954.17
20,0,4027000,7,0,1,1,583787.84
21,1,5580000,14,0,0,0,776214.70
22,1,4113000,6,0,0,0,529696.78
23,1,8830000,2,0,1,0,1329501.58
24,1,9970000,13,0,0,1,1201414.30
25,1,9769000,12,1,0,0,991913.20
26,1,361000,7,0,0,1,55547.07
27,1,4312000,1,0,0,0,684920.75
28,1,4974000,13,0,0,1,651634.95
29,1,134000,4,0,0,1,22423.12
30,1,7241000,13,1,1,0,966344.17
...,...,...,...,...,...,...,...
71,0,4096000,10,0,0,1,665370.60
72,0,6529000,12,0,0,1,989362.12
73,0,7625000,14,0,1,1,858764.84
74,0,4336000,5,0,0,1,530325.00
75,0,8432000,7,1,1,1,883207.56
76,0,3403000,10,0,0,0,374340.50
77,0,5099000,9,0,1,1,733870.35
78,0,3627000,8,0,0,1,372708.96
79,0,3120000,4,0,0,0,468003.24
80,0,1438000,9,0,1,1,235709.45
81,1,9365000,15,0,1,1,1138815.45
82,1,2070000,11,0,0,1,274112.65
83,1,5275000,3,0,0,1,796252.34
84,1,2903000,13,0,1,0,295313.00
85,1,1557000,11,0,1,1,201851.00
86,1,7861000,3,1,0,0,958322.37
87,1,322000,13,0,1,0,40434.04
88,1,4449000,15,0,0,0,573386.35
89,1,4083000,1,0,0,1,535790.89
90,1,8390000,11,0,0,1,927911.88
91,0,1519000,4,0,0,1,207473.24
92,0,4603000,2,0,0,1,470301.68
93,0,7026000,7,0,0,0,1053907.28
94,0,3442000,3,0,0,1,491882.55
95,0,5938000,12,1,1,0,861333.56
96,0,1955000,13,0,0,0,215064.95
97,0,7465000,4,1,0,1,1224403.24
98,0,5139000,3,0,1,0,780852.40
99,0,1440000,9,0,0,0,201609.27
100,0,9337000,7,0,0,1,1410557.07

# SKLearn regression calculation

In [ ]:
excelDoc = pd.read_excel("Dummy Data.xlsx", sheet_name = ["USE THIS"])
data = excelDoc["USE THIS"]
data.set_index("Client", inplace = True)

In [ ]:
# Set up the independent variables

independentVars = data.loc[:, data.columns != 'Cost']
independentVars

In [ ]:
# Set up the dependent variable

dependentVar = data["Cost"]

In [ ]:
# Fit a model
lm = linear_model.LinearRegression()
model = lm.fit(independentVars, dependentVar)

In [ ]:
predictions = lm.predict(independentVars)
print(predictions[0:5])

In [ ]:
# Find the R^2 score of the model
lm.score(independentVars, dependentVar)

In [ ]:
# Output the coefficients of the model
lm.coef_

In [ ]:
# Output the intercept of the model
lm.intercept_

# Comparing the model to the data

In [ ]:
def fullmodel(case):
    estimate = 0
    for i in range(len(lm.coef_)):
        estimate = estimate + case[i] * lm.coef_[i]
    
    return estimate

# client, estate, beneficiaries, juristictions, caseType, claims
case = [1, 500000, 0, 0, 0, 0]
fullmodel(case)

case = [1, 200000, 2, 0, 0, 0]
fullmodel(case)

In [ ]:
# Calculate the model's estimate for each client
estimates = [None] * int(data["Cost"].count())

data.iloc[1].to_list()

for i in range(data["Cost"].count()):
    estimates[i] = fullmodel(data.iloc[i].to_list())
    
fig=plt.figure(figsize=(10, 8), dpi= 80, facecolor='w', edgecolor='k')
plt.plot(estimates, label = "Linear regression model")
plt.plot(data["Cost"].values, label = "Excel data")
plt.title('Comparison of linear regression to simulated data')
plt.xlabel("Client")
plt.ylabel("Cost")
plt.legend(loc = 'upper right')

In [ ]:
fig=plt.figure(figsize=(10, 8), dpi= 80, facecolor='w', edgecolor='k')
plt.plot(100*(estimates-data["Cost"].values)/data["Cost"].values, label = "Linear regression model percentage error")
plt.title('Linear regression model error')
plt.xlabel("Client")
plt.ylabel("Error")
plt.legend(loc = 'upper right')

In [ ]:
print("The average percentage error is", (100*(estimates-data["Cost"].values)/data["Cost"].values).mean())

# statsmodel regression calculation

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn import datasets

In [ ]:
independentVars = data.loc[:, data.columns != 'Cost']
dependentVar = data["Cost"]

model = sm.OLS(dependentVar, independentVars).fit()
predictions = model.predict(independentVars)

model.summary()